:root{
    --gray:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgray:#929292;
}
@font-face {
    font-family:NeueMachina-Regular;
    src: url(NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: Helvatica;
    src: url(HelveticaNowDisplay-Regular_5Mzhp8KlA8.ttf);
}
@font-face {
    font-family:helvatica-bold;
    src: url(HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:var(--white);
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #0c0c0c;
}
.green{
  color: var(--green);
}
.lgray{
    color: var(--lgray);
}
.linethrough{
  text-decoration: line-through;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.small{
    font-size: 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    padding: 15px 70px;
}
.nav1{
    display: flex;
    align-items:flex-end;
    gap: 18px;
}
.nav1 h4{
    font-family:NeueMachina-Regular;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.3;
}
.nav1 img{
    height: 45px;
}
.nav2{
    display: flex;
    gap:70px;
    align-items: center;
}
.nav2 h4{
    font-family:Helvatica;
    font-size: 16px;
    font-weight: 100;
}
.nav2 h4 i{
    font-size: 20px;
}
.nav2 img{
    height: 40px;
    border-radius: 50%;
    width: 40px;
}
.nav3{
    display:none;
    gap:30px;
    align-items: center;
}
.nav3 h4{
    font-family:Helvatica;
    font-size: 16px;
    font-weight: 100;
}

.nav3 img{
    height: 25px;
    border-radius: 50%;
    width: 25px;
}
@media (max-width:700px) {
    nav{
        padding: 13px 20px;
    }
    .nav1 img{
        height: 30px;
    }
    .nav1 h4{
        font-size:12px ;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}
main{
    padding-top: 100px;
}
.section1{
    display: flex;
    align-items:flex-start;
    padding: 15px 70px;
    justify-content: space-between;
    font-family:Helvatica;
}
.section1 .left{
    width: 40%;
}
.section1 .left h1{
    font-size: 48px;
}
.section1 .left .tags{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 5px;
  margin: 30px 0;
}
.left .price{
    font-size: 35px;
}
.left .price .lgary{
    font-size: 20px;
    font-weight: 800px;
}
.section1 .left .tags h4{
    white-space:nowrap;
    padding: 10px 20px;
    border-radius: 4px;
   background-color: var(--gray);
}
.section1 .left .cta{
    display: flex;
    align-items: center;
    gap:10px;
    margin: 20px 0;
}
.cta button{
    background-color: var(--gray);
    padding: 20px 60px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: var(--green);
}
.cta button:nth-child(2){
    background-color: var(--lgray);
}
.right{
    width: 50%;
}
.section1 .right .right-in{ 
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.section1 .right .right-in .image{
   width: 100%;
   height:350px;
}
.section1 .right .right-in .image img{
     object-fit: cover;
   width: 100%;
   height: 100%;
}
.section1 .right .right-in .image-bottom{
   padding: 20px;
   padding-top: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
   background-color:var(--gray);
}
.right-in .image-bottom h4{
 background-color:#151515;
 padding: 10px 15px;
 border-radius: 5px;
 width: 45%;
}
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 70px;
}
.section2 h1{
    font-family:helvatica-bold;
    font-size: 150px;
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}
.section2 .bloom{ 
   position: absolute;
   filter: blur(80px);
}
.section2 h3{
    font-size: 45px;
    font-family: Helvatica;
    text-transform: capitalize;
    letter-spacing: -1px;
}
@media (max-width:1400px){
 .section1 .left h1{
    font-size: 3.5vw;
 }
}
@media (max-width:800px){
    main{
        padding-top: 50px;;
    }
 .section1{
flex-direction:column-reverse;
gap: 20px;
padding: 15px 5vw;
}
.right{
    width: 100%;
   
}
.section1 .left{
    width: 100%;
}
 .section1 .left h1{
    font-size: 33px;
 }
 .section1 .right .right-in .image{
   width: 100%;
   height:50vw;
}
.section1 .right .right-in .image-bottom{
   padding: 10px;
   padding-top: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
   background-color:var(--gray);
}
.section1 .right .right-in .image-bottom{
   padding: 10px;
   padding-top: 40px;
   gap: 8px;
}
.right-in .image-bottom h4{
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 2.5vw;
    width: 45%;
}
.left .price{
    font-size:5vw;
}
.left .price .lgary{
    font-size: 3vw;
    font-weight: 800px;
}
.section1 .left .tags h4{
    white-space:nowrap;
    padding: 7px 15px;
    border-radius: 4px;
   background-color: var(--gray);
}
.section1 .left .cta{
    display: flex;
    align-items: center;
    gap:10px;
    margin: 20px 0;
    justify-content: space-between;
}
.cta button{
    background-color: var(--gray);
    padding: 15px 0;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: var(--green);
}
}
@media (max-width:600px){
 .section1 .left h1{
    font-size: 5vw;
 }
}
@media(max-width:900px){
    .section2 h1{
     white-space:nowrap;
     font-size:15vw; }
     .section2 h3{
        text-align: center;
     font-size:4vw; }
}


